os: osx

install:
  - pip3.6 install --upgrade pip
  - pip3.6 install --user -r requirements.txt

script:
  - python3.6 -m PyInstaller --path=/usr/local/lib/python3.6/site-packages/pygeodesy/ --hidden-import xlwt --onefile --windowed PySoar/main_pysoar.pys