matrix:
  include:
#    - name: "macOS Build"
#      os: osx
#      osx_image: xcode9.4
       env: PLATFORM=mac
    - os: windows
      language: bash
      env: PLATFORM=windows

script: ./build_pysoar

deploy:
  provider: releases
  api_key:
    secure: TqIpTVyvnkNjvYxLjApycov5mkf88cPgbpF2TzhMObGMJV6BxK3nwkYH0EqtEWcD9wTPdGT09hhRbhrBm0Bpv1Xp1PYXXkah4mKlX/sLjCzI2jPiZFzvaM7EL1ftzg3a4oAK+HZeaaW7Am04Fh4zHHzt5JFDRnZBudN+hamiMqZwuNcqA7iyDJGRgCnWVEgywUsXI026F+sq+Qh4ZG8YlDlqMBP4DWCBLQXrZ8yqnPYpo6H1JiTz6h5CE60yWE+YHs9x2pQkC5pkjrfLkRcT1ThasyW+zf04E0By5EQONe5+Cz9vrgtznTrHxT48MtGJY8jnoi1roNcbCs5+rlqwDA9XskTDQlVkGSOsitngoS5bbMmmO5KK903Vam8g6moVS0wKZc8X+9CIqC3qRs9kTmTzmPO0Y+LB7dnY4LOd4TIfSP5BPgBp0ScXtC6SxWY/Rc4DM3OB9YFf8b+qXqfwBz/K8xKRyndxwSNQaEbBYxT73YqU9xPegJ2k9drgOAIRRhMHUj6PT4W4VnibtOTCbbTKyDB2fLcGwhd1bbqGytfTX/9U0V32rqLd7rAVco7WKngpETr/BoTnl4ON2mcfpLZ7mw793+qu3W/pKGCfAk6YunKL0pM6NhVROkr/F4ENvzkFtOpjGOCmO1eUIkU45y8u6XBN2qy/55SJGxM63eE=
  skip_cleanup: true
#  file: PySoar/dist/mac_pysoar.zip  # for mac
  file: PySoar/dist/$PLATFORM_pysoar.zip
  on:
    branch: add-mac-travis
  draft: true
