dist: trusty
language: python

addons:
  apt:
    packages:
      - texlive
      - texlive-latex-extra
      - texlive-lang-english
      - latex-xcolor
      - texlive-science

install:
  - pip install --upgrade pip setuptools wheel
  - pip install --only-binary=numpy,scipy numpy scipy
  - pip install -r requirements.txt

script:
  - python PySoar/main_pysoar.py http://www.soaringspot.com/en/sallandse-tweedaagse-2014/results/club/task-1-on-2014-06-21/daily
  - sha512sum -c ci/Analysis_PySoar.xls.sha512sum
  - python PySoar/main_pysoar.py http://www.soaringspot.com/en_gb/nationale-junioren-wedstrijd-2015-venlose-zweefvliegclub-2015/results/open/task-3-on-2015-08-03/daily
  - pyinstaller -F PySoar/main_pysoar.py 
  - cd  docs/manual/EN/ && pdflatex PySoar-manual.tex && cd ../../../
